<div class="row">
    <div class="title">Take a Quiz</div>
    <div class="desc">Test your knowledge of any the following quiz are familiar with</div>
</div>
<div class="row">
    <div *ngFor="let item of listGroup" class="col-lg-4 col-md-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{item.group}}</h5>
              <p class="card-text">{{item.desc}}</p>
              <div class="card-link" (click)="handleQuiz(item.id)">Take quiz</div>
            </div>
        </div>
    </div>
</div>